div,ul,li{
	margin: 0px;
	padding: 0px;
}
button,a{
	margin-top:3px;
}

/*  layout  */
.siteright{
	width:15%;
	border: 1px solid black;
	float: right;
	margin-right:20%;
	margin-top: 20px;
	border-radius: 3px;
}
.siteleft{
	width:60%;
	border: 1px solid black;
	float: left;
	margin-top: 20px;
	margin-left: 40px;
	border-radius: 3px;
}

.footer{
	width:100%;
	height:40px;
	margin-top: 20px;
	background-color: #99CC99;
	text-align: center;
	font-size: 17px;
}
/* login */

.login{
	width: 35%;
	height:330px;
	margin:100px auto;
	border: 1px solid black;
	border-radius: 3px;
}

/* header */

.header{
	width:70px;
	height: 70px;
	margin-left: 40%;
}
.header>img{
	width:100%;
	height: 70px;
}
.layui-nav{
	text-align: center;
}
.layui-nav-item{
	width: 12.2%;
}
.jumbotron{
	
}
.userInfo{
	width:230px;
	height:118px;
	float: right;
	border: 1px solid black;
	border-radius: 3px;
}
.userInfo_left{
	width:84px;
	height:115px;
	float: left;
}

.siteIndex_left{
	width:60%;
	float: left;
	border-radius:2px;
	box-shadow:#d2d2d2 2px 2px 2px 2px;
}

.diary_header{
	width:100%;
	height:50px;
	border-bottom:1px solid #00a157;
	text-align: center;
}
.siteIndex_right{
	width:35%;
	float: right;
	margin-left:4%;
	border-radius:2px;
	box-shadow:#d2d2d2 2px 2px 2px 2px;
}

.siteIndex_right_title{
	width:100%;
	height:28px;
	border-bottom:1px solid #00a157;
	text-align:center;
}
